<nav>
  <ul>
    <li>
      <a href="#" id="edit_btn"><i class="fas fa-edit"></i> Editar</a>
    </li>
    <li>
      <a href="#" id="delete_btn"><i class="fas fa-trash"></i> Excluir</a>
    </li>
  </ul>
</nav>
<article>
  <header>
    <h1>Titulo da noticia</h1>
  </header>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, sed,
    delectus hic consectetur nihil quis ratione magnam distinctio, dicta
    repellendus facilis vitae fuga perspiciatis aliquam voluptate culpa
    quae dolore laudantium.
  </p>
</article>