<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Inicial</title>
    <link rel="stylesheet" href="../public/assets/css/styles.css" />
    <link rel="stylesheet" href="../public/assets/css/news.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
  </head>
  <body>
    <header class="header">
      <h1><a href="home.html">LOGO</a></h1>

      <nav class="header_nav">
        <ul>
          <li><a href="formNews.html">Cadastrar noticias</a></li>
          <li><a href="home.html">Exibir noticias</a></li>
          <li><a href="login.html">Entrar</a></li>
          <li>
            <form action="">
              <input type="text" name="blog_search" placeholder="Pesquisar..." class="input_search" />
              <button>
                <i class="fas fa-search"></i>
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main_content">
      <section>
        <nav>
          <ul>
            <li><a href="#" id="edit_btn">Editar</a></li>
            <li><a href="#" id="delete_btn">Excluir</a></li>
          </ul>
        </nav>
        <article>
          <header><h1>Titulo da noticia</h1></header>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, sed, delectus hic consectetur nihil quis ratione magnam distinctio, dicta repellendus facilis vitae fuga perspiciatis aliquam voluptate culpa quae dolore laudantium.</p>
        </article>
      </section>
    </main>

    <footer class="footer">
      <h3>Desenvolvido por Programador</h3>
    </footer>
  </body>
</html>
