<form class="form_news" action="">
  <h2>Entre ou Cadastre-se</h2>
  <div>
    <label for="first_name">Seu nome</label>
    <input name="first_name" id="first_name" class="form_item" type="text" />
  </div>
  <div>
    <label for="last_name">Seu sobrenome</label>
    <input name="last_name" id="last_name" class="form_item" type="text" />
  </div>
  <div>
    <label for="bith_date">Data de nascimento</label>
    <input name="bith_date" id="bith_date" class="form_item" type="date" />
  </div>
  <div>
    <label for="email">Seu melhor e-mail</label>
    <input name="email" id="email" class="form_item" type="email" />
  </div>
  <div>
    <label for="password">Senha</label>
    <input name="password" id="password" class="form_item" type="password" />
  </div>
  <div>
    <label for="rp_password">Repita a Senha</label>
    <input name="rp_password" id="rp_password" class="form_item" type="password" />
  </div>
  <div><button>Cadastrar</button></div>
  <a href="login.html">Ja possui uma conta? Entre por aqui.</a>
</form>