.main_content > section {
    grid-template-columns: 150px repeat(2, 1fr);
}

#delete_btn {
    background-color: red;
    top: 80px;
}

.main_content section nav {
    position: relative;
}

.main_content section nav a {
    left: 0;
    position: absolute;
    z-index: 10;
    align-items: start;
    background-color: blue;
    min-width: 50px;
    color: #fff;
    border-radius: 25px;
    padding: 15px 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.main_content section nav a:hover {
    margin-left: 10px;
}

.main_content section article {
    grid-column: 2 / -1;
    padding: 30px;
    background-color: #fff;
    min-height: 50vh;
}

.main_content section article h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}